
@{
    ViewBag.Title = "قوانین-سایت";
       ViewData["Des"] = "salinotbz.irقوانین سایت فروشگاه سالینو ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container reg " style="font-family: IRANSans;">
    <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
    box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
        <ol class="breadcrumb" style="background: none;    display: block;">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #212529;">قوانین ومقررات</li>
        </ol>

    </nav>
    <section class="privacy-page-content-area"style="border: 1px solid; padding: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="privacy-inner-content">
                        <!-- privacy inner conent -->
                        <div class="single-text-block">
                            <!-- single text block -->
                            <h3 class="text-center"style="font-family: IRANSans; ">شرایط و قوانین استفاده از سرویس‌ها و خدمات فروشگاه (سالینو)</h3>

                            <br /><br /><br />

                            <h4 class="text-right"style="font-family: IRANSans; ">. کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی به دقت ملاحظه فرمایید</h4>
                                                    <hr />
                            <p  class="text-right"style="font-size:18px;font-family: IRANSans;direction:rtl">
                                ورود کاربران به وب‏‌سایت هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، و سایر خدمات ارائه شده به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات است.
                                <br /> توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است.
                                .لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود
                                <br />
                                درفروشگاهسالینو به راحتی میتوانید باوارد کردن نام کاربری بدون تکرار ویک کد ملی صحیح ثبت نامه کنیدودرصورت خرید باید اطلاعات تکمیلی خود را وارد نمایید که شامل موبایل وآدرس  و کد پستی می باشد.
                                <br />
                                وب سایت salinotbz.ir با در نظرگرفتن اهمیّت حریم خصوصی کاربران، به منظور ارائه ی خدماتی امن به آن ها اطلاعاتی را درخواست می کند. هنگامی که کاربران محترم از امکانات وب سایت نظیر خرید، عضویت، ثبت نظر و غیره استفاده می نمایند و یا اطلاعات خود را در وب سایت وارد می نمایند، به ما اطمینان کرده و بدینوسیله رضایت خود را از جمع آوری، ذخیره، پردازش و انتقال اطلاعات شخصی و غیر شخصی خود اعلام می نمایند. در همین راستا وب سایت salinotbz.ir موظف است هدف خود از جمع آوری اطلاعات کاربران، اقدامات و سیاست های امنیت اطلاعات آن ها را روشن سازد.


                            </p>
                            <br />
                            <h4 class="text-right"style="font-family: IRANSans; ">قوانین عمومی</h4>
                              <hr />
                            <br />
                            <p class="text-right"style="font-size:18px;font-family: IRANSans;direction:rtl">
                                توجه داشته باشید کلیه اصول و رویه‏‌های بازار فروشگاه سالینو منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های ما تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود.


                            </p>
                        </div><!-- //. single text block -->
                        <span class="line-separator"></span>

                    </div><!-- //. privacy inner content -->
                </div>
            </div>
        </div>
    </section>

    </div>