@{
    ViewBag.Title = "Help";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    .content-header{
        text-align:center;
    }
</style>


<div class="container">

</div>


<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-5 content-header">
                <h3 class="text-center">کاربران</h3>
                <br />
                <video controls="controls" width="350" height="200">
                    <source src="~/Content/HelperSite/User.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 content-header">
                <h3 class="text-center">محصولات</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Product.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-5 content-header">
                <h3 class="text-center">فاکتور ها</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Factor.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 content-header">
                <h3 class="text-center">گزارشات</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Report.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-5 content-header">
                <h3 class="text-center">مناسبت ها</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Monasebats.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 content-header">
                <h3 class="text-center">تخفیف ها</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/takhfif.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-5 content-header">
                <h3 class="text-center">تصاویر</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Images.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 content-header">
                <h3 class="text-center">تنظیمات</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/Setting.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-5 content-header">
                <h3 class="text-center">نظرات</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/comment.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 content-header">
                <h3 class="text-center">پیشنهادات وانتقادات</h3>
                <br />
                <video controls="controls" width="345" height="200">
                    <source src="~/Content/HelperSite/entegadat.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

    </div>
</div>
