
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body onload="window.print();">
    <h2>گزارشات</h2>
</body>
</html>
