
<div class="box box-info container">




    <div class="form-horizontal">
        <h4>مناسبت جدید</h4>

        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">عنوان</label>
            <div class="col-md-10">
                <input type="text" ng-model="Id" class="form-control" />
                <input type="text" ng-model="MonasebatTitle" class="form-control" />
            </div>
        </div>
        <hr />




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <button class="btn btn-social btn-success" type="button" ng-click="save()">
                    <i class="fa fa-save"></i> ذخیره
                </button>
                <a class="btn btn-social btn-pinterest" href="/Admin/Monasebats/index">
                    <i class="fa fa-backward"></i> بازگشت
                </a>

            </div>
        </div>



    </div>



</div>

