@model Salino.Models.ImageAdver

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1 style="margin-bottom:15px">
        تصاویرتبلیغاتی

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard"></i> مدیریت</a></li>
        <li class="active">تصاویرتبلیغاتی</li>
        <li class="active"> تصاویرتبلیغاتی جزئیات </li>
    </ol>
</section>
<div class="box box-info container">
    <div>
        <h4> تصاویرتبلیغاتی  جزئیات</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                تصویرسمت چپ بالا
            </dt>

            <dd>
                <img src="~/Content/imgadvr/@Model.Img1" alt="@Model.Img1 " style="height:auto;width:auto;" class="img-responsive img-thumbnail" />
            </dd>
            <hr />
            <dt>
                تصویرسمت چپ پایین
            </dt>

            <dd>
                <img src="~/Content/imgadvr/@Model.Img2" alt="@Model.Img2 " style="height:auto;width:auto;" class="img-responsive img-thumbnail" />
            </dd>
            <hr />
            <dt>
                تصویرسمت راست بالا
            </dt>

            <dd>
                <img src="~/Content/imgadvr/@Model.Img3" alt="@Model.Img3 " style="height:auto;width:auto;" class="img-responsive img-thumbnail" />
            </dd>
            <hr />
            <dt>
                تصویرسمت راست پایین
            </dt>

            <dd>
                <img src="~/Content/imgadvr/@Model.Img4" alt="@Model.Img4 " style="height:auto;width:auto;" class="img-responsive img-thumbnail" />
            </dd>
            <hr />
        </dl>
        <p>
           
            <a class="btn btn-social btn-danger" href="/Admin/ImageAdvers/Edit/@Model.Id">
                <i class="fa fa-backward"></i> ویرایش
            </a>
            <a class="btn btn-social btn-pinterest" href="/Admin/ImageAdvers/index">
                <i class="fa fa-backward"></i> بازگشت
            </a>
        </p>
    </div>
</div>